<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="chapter1_1">
    <p>{{ message }}</p>
</div>

<div id="chapter1_5">
    <ol>
        <li v-for="item in list">
            {{ item }}
        </li>
    </ol>

    <button v-on:click="handlerClick">Click</button>
    <button @click="handlerClick">Click</button>

    <p>{{ message }}</p>
    <input v-model="message">

    <!-- display: none になる, 後々に表示する可能性があるならこちらのほうがパフォーマンスがいい -->
    <p v-show="show">Hello Vue.js</p>
    <p v-show="!show">Hello Vue.js</p>

    <button @click="show = !show">切り替え</button>

    <!-- 監視が破棄される -->
    <p v-if="show">{{ message }}</p>

</div>

<div id="chapter2_8">
    <p>{{ 1 + 1 }}</p>
    <p v-bind:class="style">{{ 2 / 2 }}</p>
    <p :class="style">{{ 2 / 2 }}</p>
    <input type="text" :value="style">

    <!-- .propでDOMプロパティとしてバインドできる -->
    <p :text-content.prop="style"></p>
    <!-- $dataでJSONとしてdataの中身が取得できる -->
    <div :scroll-top.prop="scroll">{{ $data }}</div>

    <p>{{ count }}回クリックしたよ</p>
    <button @click="increment">カウントを増やす</button>
    <button @click="incrementDelay">ちょこっと遅れてカウントを増やす</button>

    <!-- class, style属性はオブジェクト形式で値を渡せる -->
    <p :class="{ child: isChild, 'is-active': isActive }">Text</p>
    <!-- style属性のプロパティはJavascriptと同様にcamelケースで表せる -->
    <p :style="{ color: textColor, backgroundColor: backgroundColor }">Text</p>
    <!-- 三項演算子は配列リテラルで使用できる -->
    <!-- 冗長なので算出プロパティを使用したほうがいい(computed) -->
    <p :class="[!isActive ? 'active' : 'normal']">Text</p>
    <!-- style, class属性はそのままオブジェクトも渡せる -->
    <p :class="classObject">Text</p>
    <p :style="styleObject">Text</p>

    <!-- 属性とプロパティをそのまま渡せる, その場合はv-bindを使用する -->
    <img v-bind="item"/>
    <!-- 値の上書きもできる -->
    <img v-bind="item" :id="'id-' + item.id"/>

    <svg xmls="http://www.w3.org/2000/svg" version="1.1">
        <circle cx="100" cy="75" :r="radius" fill="lightpink"></circle>
    </svg>
    <input type="range" min="0" max="100" v-model="radius">
</div>

<div id="chapter2_9">
    <!-- templateタグでまとめて表示非表示ができる(v-showはつかえない) -->
    <template v-if="isDisplay">
        <header>タイトル</header>
        <div>コンテンツ</div>
    </template>

    <div v-if="type === 'A'">typeはA</div>
    <div v-else-if="type === 'B'">typeはB</div>
    <div v-else=>typeはC</div>

    <div v-if="isLoaded" key="content-visible">
        content
    </div>
    <div v-else key="content-loading">
        loading now...
    </div>

    <!-- 同じ親要素の中でv-forは2回使えない -->
    <ul>
        <li v-for="(item, key, index) in list">{{ item }}{{ key }}{{ index }}</li>
    </ul>

    <input type="text" v-model="name"/>
    <button @click="doAdd">モンスターを追加</button>
    <ul>
        <li v-for="(monster, index) in monsters"
            :key="monster.id"
            :class="{ strong: monster.hp > 300 }">
            ID:{{ monster.id }} {{ monster.name }} HP.{{ monster.hp }}
            <span v-if="monster.hp > 300">つよい！</span>
            <span v-if="monster.hp < 50">瀕死</span>
            <button @click="doRemove(index)">[x]</button>
            <button @click="doAttack(index)">攻撃する</button>
        </li>
    </ul>
</div>

<div id="chapter2_11" v-cloak>
    <!-- ref属性をつけておくことによって$refからDOMの現在の状況が取れる -->
    <p ref="hello">Hello</p>

    <!-- そのままタグが出力される -->
    <a :href="url" v-pre>
        Hello {{ message }}
    </a>

    <p v-once>{{ message }}</p>

    <p v-text="message"></p>

    <p v-html="htmlTag"></p>

    <p v-cloak>{{ message }}</p>
</div>


<div id="chapter3_13">
    <button @click="handleClick($event, 1)">click</button>

    <!-- なぜか更新できない -->
    <img src="image.png" @load="show=true" :class="{hide: !show}"/>

    <input :value="message" @input="handleInput">

    <div @click.right="handler">example</div>
    <div @click.right.prevent="handler">example</div>

    <div @click="handler('div1')">
        div1
        <a href="#top" @click.stop="handler('div2')">div2</a>
    </div>

    <div @click="handler('div1')">
        div1
        <a href="#top" @click.prevent="handler('div2')">div2</a>
    </div>

    <div @click.capture="handler('div1')">
        div1
        <div @click="handler('div2')">
            div2
            <div @click="handler('div3')">
                div3
                <div class="overlay" @click.self="close">...</div>
            </div>
        </div>
    </div>

    <input @keydown.53="handler">
    <input @keydown.enter="handler">
    <input @keydown.tab="handler">
    <input @keydown.space="handler">
    <input @keydown.up="handler">
    <input @keydown.down="handler">
    <input @keydown.up.right.down.left="handler">

    <div @click.shift="doDelete">Delete</div>

    <input v-model="message"/>
    <p>{{ message }}</p>

    <input type="checkbox" v-model="val"> {{ val }}
    <input type="checkbox" v-model="val" true-value="yes" false-value="no"> {{ val }}

    <label><input type="checkbox" v-model="arrayVal" value="A"> A</label>
    <label><input type="checkbox" v-model="arrayVal" value="B"> B</label>
    <label><input type="checkbox" v-model="arrayVal" value="C"> C</label>

    <label><input type="radio" v-model="radio" value="a"> a</label>
    <label><input type="radio" v-model="radio" value="b"> b</label>
    <label><input type="radio" v-model="radio" value="c"> c</label>
    {{ radio }}

    <input type="file" @change="fileChange"/>
    <div v-if="preview"><img :src="preview"></div>

    <input type="range" v-model.number="range"/> {{ range }}
</div>

<div id="chapter3_15">
    {{ scrollY ? "スクロールしたね" : "スクロールあんまりしてないね..." }}
</div>
<script src="./dist/main.js"></script>
</body>
</html>