<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="chapter1_1">
    <p>{{ message }}</p>
</div>

<div id="chapter1_5">
    <ol>
        <li v-for="item in list">
            {{ item }}
        </li>
    </ol>

    <button v-on:click="handlerClick">Click</button>
    <button @click="handlerClick">Click</button>

    <p>{{ message }}</p>
    <input v-model="message">

    <p v-show="show">Hello Vue.js</p>
    <p v-show="!show">Hello Vue.js</p>

    <button @click="show = !show">切り替え</button>
    <p v-if="show">{{ message }}</p>

</div>

<div id="chapter2_8">
    <p>{{ 1 + 1 }}</p>
    <p v-bind:class="style">{{ 2 / 2 }}</p>
    <p :class="style">{{ 2 / 2 }}</p>
    <input type="text" :value="style">
    <!-- .propでDOMプロパティとしてバインドできる -->
    <p :text-content.prop="style"></p>
    <!-- $dataでJSONとしてdataの中身が取得できる -->
    <div :scroll-top.prop="scroll">{{ $data }}</div>
</div>

<script src="./dist/main.js"></script>
</body>
</html>