[v-cloak] {
  display: none;
}

body {
  background: #eee;

  .bold {
    font-weight: bold;
  }
}

@keyframes cloak-in {
  0% {
    opacity: 0;
  }
}

#chapter2_11 {
  animation: cloak-in 1s;
}

#chapter2_11[v-cloak] {
  opacity: 0;
}

img {
  opacity: 1;
  transition: opacity 1s;
}

img.hide {
  opacity: 0;
}